<div class="container">
  <h5>Cadastro de Jogos</h5>
  <p-card *ngFor="let jogo of cadastroJogosDatasIguais; let i = index" class="card">
    <div class="grid p-fluid">
      <div style="display: flex;">
        <div class="col-12 md:col-4" style="width: 20%;margin-right: 1%;">
          <div class="p-inputgroup">
            <p-calendar [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" dateFormat="dd/mm/yy"
              [(ngModel)]="jogo.data_jogo"/>
          </div>
        </div>

        <div class="col-12 md:col-4" style="width: 20%; margin-right: 1%;">
          <div class="p-inputgroup">
            <p-calendar [iconDisplay]="'input'" [showIcon]="true" [timeOnly]="true" inputId="templatedisplay"[(ngModel)]="jogo.hora" >
              <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                <i class="pi pi-clock pointer-events-none" (click)="clickCallBack($event)"></i>
              </ng-template>
            </p-calendar>
          </div>
          <div *ngIf="showErrorEmailMessage">
            <small class="error-message" style="color: red;">'erro'</small>
          </div>
        </div>

        <div class="col-12 md:col-4" style="width: 30%; margin-right: 1%;">
          <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Campeonato" [(ngModel)]="jogo.campeonato">
          </div>
        </div>

        <div class="col-12 md:col-4" style="width: 30%; margin-right: 1%;">
          <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Categoria" [(ngModel)]="jogo.categoria">
          </div>
        </div>

        <div class="col-12 md:col-4" style="width: 20%;">
          <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Organização" [(ngModel)]="jogo.organizacao">
          </div>
        </div>
      </div>

      <div style="display: flex; margin-top: 1%;">
        <div class="col-12 md:col-4" style="width: 30%;margin-right: 1%;">
          <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Mandante" [(ngModel)]="jogo.mandante">
          </div>
        </div>
        <div class="col-12 md:col-4" style="width: 30%;margin-right: 1%;">
          <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Visitante" [(ngModel)]="jogo.visitante">
          </div>
        </div>
        <div class="col-12 md:col-4" style="width: 40%;">
          <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Local" [(ngModel)]="jogo.local">
          </div>
        </div>
      </div>
    </div>
    <div class="centered-div">
      <div class="divSwitch">
        <label class="labelSwitch">O jogo precisa de ARFOC</label>
        <p-checkbox styleClass="switchTeste" [binary]="true" inputId="binary" [(ngModel)]="jogo.arfoc" />

      </div>
      <p-multiSelect [options]="vagasBHFoto" (onChange)="teste($event, i)" optionLabel="nome" placeholder="Selecionar Reserva de Vaga" />
    </div>
    <div style="display: flex;  justify-content: space-between">
      <p-button *ngIf="i === cadastroJogosDatasIguais.length - 1" label="Adicionar Jogo em mesma Data e Local"
        (onClick)="adicionarJogo()"></p-button>
        <p-button *ngIf="i !== 0" label="Remover Jogo" severity="danger"></p-button>
      <p-button *ngIf="i === cadastroJogosDatasIguais.length - 1" label="Cadastrar Jogo" (onClick)="onSubmit()" [disabled]="desabilitaBotao()" severity="success"></p-button>
    </div>
  </p-card>

  <br>

  <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" [multiple]="true" accept=".csv"
    chooseLabel="Importar CSV" uploadLabel="Upload" cancelLabel="Cancelar" (onUpload)="onUpload($event)">
  </p-fileUpload>
  <br>
  <p-table [value]="listaJogos" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th>Data</th>
        <th>Hora</th>
        <th>Campeonato</th>
        <th>Categoria</th>
        <th>Jogo</th>
        <th>Local</th>
        <th>Organização</th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-jogo let-rowIndex="rowIndex">
      <tr>
        <td>{{jogo.data_jogo}}</td>
        <td>{{jogo.hora}}</td>
        <td>{{jogo.campeonato}}</td>
        <td>{{jogo.categoria}}</td>
        <td>{{jogo.mandante}} x {{jogo.visitante}}</td>
        <td>{{jogo.local.nome_local}}</td>
        <td><p-tag [value]="jogo.organizacao" [severity]="getSeverity(jogo.organizacao)" /></td>
        <td><p-button icon="pi pi-pencil" (onClick)="showModalEdit(rowIndex)"></p-button></td>
        <td><p-button icon="pi pi-trash" (onClick)="showModalDelete(jogo.id)"></p-button></td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [header]="mensagemUploadJogos" [modal]="true" [(visible)]="visibleUploadJogos" [style]="{ width: '25rem' }"
  [closable]="false">
  <p-progressBar mode="indeterminate" [style]="{ height: '6px' }" *ngIf="porcentagemJogosEnviados <= 0"></p-progressBar>
  <p-progressBar [value]="porcentagemJogosEnviados" *ngIf="porcentagemJogosEnviados > 0"></p-progressBar>

  <div class="button-container" *ngIf="porcentagemJogosEnviados == 100">
    <p-button label="Ok" class="submit-button" (click)="visibleUploadJogos = false"></p-button>
  </div>
</p-dialog>

<p-dialog header="Remover Jogo" [modal]="true" [(visible)]="visibleDeleteJogo" [style]="{ width: '25rem' }"
  [closable]="false">

  <div class="flex align-items-center gap-3 mb-3">
    <label class="font-semibold w-6rem">Deseja realmente Excluir o jogo selecionado ?</label>
  </div>

  <div class="flex justify-content-end gap-2">
    <p-button label="Cancelar" (click)="visibleDeleteJogo = false" />
    <p-button label="Excluir" severity="danger" (click)="deletaJogo()" />
  </div>
</p-dialog>

<p-dialog (onHide)="closeModalEdit()" header="Edição de Jogo" [modal]="true" [(visible)]="visibleEditJogo"
  [style]="{ width: '60rem' }">
  <div class="grid p-fluid">
    <div style="display: flex;">
      <div class="col-12 md:col-4" style="width: 20%;margin-right: 1%;">
        <div class="p-inputgroup">
          <input type="date" pInputText placeholder="Data" [(ngModel)]="jogoEdit.data_jogo">
        </div>
      </div>

      <div class="col-12 md:col-4" style="width: 20%; margin-right: 1%;">
        <div class="p-inputgroup">
          <input type="text" pInputText placeholder="Hora" [(ngModel)]="jogoEdit.hora">
        </div>
        <div *ngIf="showErrorEmailMessage">
          <small class="error-message" style="color: red;">'erro'</small>
        </div>
      </div>

      <div class="col-12 md:col-4" style="width: 30%; margin-right: 1%;">
        <div class="p-inputgroup">
          <input type="text" pInputText placeholder="Campeonato" [(ngModel)]="jogoEdit.campeonato">
        </div>
      </div>

      <div class="col-12 md:col-4" style="width: 30%; margin-right: 1%;">
        <div class="p-inputgroup">
          <input type="text" pInputText placeholder="Categoria" [(ngModel)]="jogoEdit.categoria">
        </div>
      </div>

      <div class="col-12 md:col-4" style="width: 20%;">
        <div class="p-inputgroup">
          <input type="text" pInputText placeholder="Organização" [(ngModel)]="jogoEdit.organizacao">
        </div>
      </div>
    </div>

    <div style="display: flex; margin-top: 1%;">
      <div class="col-12 md:col-4" style="width: 30%;margin-right: 1%;">
        <div class="p-inputgroup">
          <input type="text" pInputText placeholder="Mandante" [(ngModel)]="jogoEdit.mandante">
        </div>
      </div>
      <div class="col-12 md:col-4" style="width: 30%;margin-right: 1%;">
        <div class="p-inputgroup">
          <input type="text" pInputText placeholder="Visitante" [(ngModel)]="jogoEdit.visitante">
        </div>
      </div>
      <div class="col-12 md:col-4" style="width: 40%;">
        <div class="p-inputgroup">
          <input type="text" pInputText placeholder="Local" [(ngModel)]="jogoEdit.local.nome_local">
        </div>
      </div>
    </div>
  </div>
  <div class="centered-div">
    <div class="divSwitch">
      <label class="labelSwitch">O jogo precisa de ARFOC</label>
      <p-inputSwitch styleClass="switchTeste" [(ngModel)]="jogoEdit.arfoc" />
    </div>
    <p-multiSelect [options]="vagasBHFoto"  [(ngModel)]="vagasBHFotoSelecionadasEdit" appendTo="body" optionLabel="nome" placeholder="Selecionar Reserva de Vaga" />
    <p-button label="Editar Jogo" (onClick)="editJogo()"></p-button>
  </div>
</p-dialog>