.container {
    background-image: url('../../assets/triangles-1430105.svg');
    background-size: cover;
    /* Para cobrir todo o container */
    background-repeat: no-repeat;
    /* Para não repetir a imagem */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardLogin {
    background-color: white;
    min-height: 50vh; /* Use min-height em vez de height */
    width: 40vh; /* Aumente a largura para acomodar melhor o conteúdo */
    padding: 2rem; /* Adicione padding para criar espaço interno */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5%;
    box-sizing: border-box; /* Inclua padding na largura e altura */
}

#subtitulo {
    margin-bottom: 20px;
    color: #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centraliza o texto horizontalmente */
    width: 100%; /* Garante que o elemento ocupe toda a largura disponível */
}

#titulo {
    margin-bottom: 20px;
    color: #555555;
}
.error-input {
    border-color: red !important;
  }