<div class="container">
  <div class="cardLogin" *ngIf="resetSenha" style="position: relative;">
    <h1 id="titulo">Recuperação de Senha</h1>
    <label id="subtitulo">Para recuperar a senha você deve informar o e-mail e cpf cadastrado no sistema</label>
    <div>
      <p>E-mail</p>
      <input type="email" pInputText placeholder="exemplo123@gmail.com" [(ngModel)]="email" (input)="checkEmail()"
        [ngClass]="{'error-input': showErrorEmailMessage}">
        <div *ngIf="showErrorEmailMessage">
          <small class="error-message" style="color: red;">Email Inválido</small>
        </div>
    </div>
    <div>
      <p>CPF</p>
      <input type="tel" mask="000.000.000-00" pInputText placeholder="125.578.987-98" [(ngModel)]="cpf"
        (input)="checkCpf()" maxlength="14" [ngClass]="{'error-input': showErrorCpfMessage}">
      <div *ngIf="showErrorCpfMessage">
        <small class="error-message" style="color: red;">CPF Inválido</small>
      </div>
    </div>
    <div style="margin-top: 10%;">
      <p-button label="Validar Credenciais" [raised]="true" severity="success"
        (onClick)="checkCredentials()"></p-button>

    </div>
  </div>
  <div class="cardLogin" *ngIf="!resetSenha" style="position: relative;">
    <h1 id="titulo">Recuperação de Senha</h1>
    <div class="teste">
      <p>Senha</p>
      <p-password [(ngModel)]="password" [toggleMask]="true" [feedback]="false"  ></p-password>
    </div>
    <div class="teste">
      <p>Confirme Senha</p>
      <p-password [(ngModel)]="passwordConfirm" [toggleMask]="true" [feedback]="false"  ></p-password>
    </div>
    <div style="margin-top: 10%;">
      <p-button label="Alterar Senha" [raised]="true" severity="success"
        (onClick)="alterPassword()"></p-button>
    </div>
  </div>
</div>