<p-table [value]="listaJogos" [tableStyle]="{'min-width': '60rem'}">
    <!--  <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-center">
            Tabela de Jogos
            <p-button icon="pi pi-refresh" />
        </div> 
    </ng-template> -->
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>Data</th>
            <th>Hora</th>
            <th>Campeonato</th>
            <th>Categoria</th>
            <th>Jogo</th>
            <th>Local</th>
            <th>Fotografo 1</th>
            <th>Fotografo 2</th>
            <th>Organização</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
        <tr [ngClass]="{'desativado': product.travado}">
            <td>
                <p-checkbox [binary]="true" [(ngModel)]="product.myGame" (onChange)="selecionaJogo($event, rowIndex)"
                    inputId="binary" />
            </td>
            <td>{{product.data_jogo}}</td>
            <td>{{product.hora}}</td>
            <td>{{product.campeonato}}</td>
            <td>{{product.categoria}}</td>
            <td>{{product.mandante}} x {{product.visitante}}</td>
            <td>{{product.local.nome_local}}</td>
            <td>{{product.fotografos[0] == null ? "": product.fotografos[0].dados_fotografo.nome}}</td>
            <td>{{product.fotografos[1] == null ? "": product.fotografos[1].dados_fotografo.nome}}</td>

            <td><p-tag [value]="product.organizacao" [severity]="getSeverity(product.organizacao)" /></td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Deseja confirmar presentaça para o(os) jogo(s) selecionado(s) ?" [(visible)]="visible" [modal]="true"
    [closable]="false" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '70vw' }"
    [draggable]="false" [resizable]="false">
    <span class="p-text-secondary block mb-5">Deseja confirmar presentaça para o jogo selecionado ?</span>
    <p-table [value]="jogosDatasIguais">
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th>Data</th>
                <th>Hora</th>
                <th>Campeonato</th>
                <th>Categoria</th>
                <th>Jogo</th>
                <th>Local</th>
                <th>Organização</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-jogo>
            <tr>
                <td>
                    <p-checkbox [binary]="true" [(ngModel)]="jogo.selecionado" [inputId]="'binary'" />
                </td>
                <td>{{formatarData(jogo.data_jogo)}}</td>
                <td>{{jogo.hora}}</td>
                <td>{{jogo.campeonato}}</td>
                <td>{{jogo.campeonato}}</td>
                <td>{{jogo.mandante}} x {{jogo.visitante}}</td>
                <td>{{jogo.local.nome_local}}</td>
                <td><p-tag [value]="jogo.organizacao" [severity]="getSeverity(jogo.organizacao)" /></td>
            </tr>
        </ng-template>
    </p-table>
    <div class="">
        <p-button label="Cancel" (onClick)="salvarJogosDatasIguais()" severity="secondary" />
        <p-button label="Save" (onClick)="salvarJogosDatasIguais()" />
    </div>
</p-dialog>


<p-dialog header="Edit Profile" [modal]="true" [(visible)]="feedback" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-5">O Jogo está sendo selecioado por outra pessoa</span>
    <div class="flex align-items-center gap-3 mb-5">
        <p-button label="Cancel" severity="secondary" (click)="feedback = false" />
    </div>

</p-dialog>

<p-dialog header="Edit Profile" [closable]="false" [modal]="true" [(visible)]="visible2" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-5">Deseja abandonar sua participação neste jogo ?</span>
    <div class="flex align-items-center gap-3 mb-5">
        <p-button label="Cancelar" severity="secondary" (click)="visible2 = false" />
        <p-button label="Abandonar Jogo" (onClick)="abandonarJogo()" />
    </div>
</p-dialog>

<div *ngIf="isLoading">
    <app-loading></app-loading>
</div>